edc-aspnet-master/TechGeeks/Service References/Feeds/Feeds.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAggregatedFeeds">
        <s:complexType />
      </s:element>
      <s:element name="GetAggregatedFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAggregatedFeedsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAggregatedFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAggregatedFeeds" />
  </wsdl:message>
  <wsdl:message name="GetAggregatedFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAggregatedFeedsResponse" />
  </wsdl:message>
  <wsdl:portType name="FeedsSoap">
    <wsdl:operation name="GetAggregatedFeeds">
      <wsdl:input message="tns:GetAggregatedFeedsSoapIn" />
      <wsdl:output message="tns:GetAggregatedFeedsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeedsSoap" type="tns:FeedsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAggregatedFeeds">
      <soap:operation soapAction="http://tempuri.org/GetAggregatedFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FeedsSoap12" type="tns:FeedsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAggregatedFeeds">
      <soap12:operation soapAction="http://tempuri.org/GetAggregatedFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Feeds">
    <wsdl:port name="FeedsSoap" binding="tns:FeedsSoap">
      <soap:address location="http://localhost:1825/WebServices/Feeds.asmx" />
    </wsdl:port>
    <wsdl:port name="FeedsSoap12" binding="tns:FeedsSoap12">
      <soap12:address location="http://localhost:1825/WebServices/Feeds.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>